## Conditions
There are times you may want to execute some set of codes only if a condition is met.

### Assignment Operator
- assign (=)

### Comparison Operators
- greater than (>)
- greater than or equal to (>=)
- less than (<)
- less than or equal to (<=)
- equal to (==)
- not equal to (!=)

In [ ]:
2 = 5

In [1]:
2 == 2

True

In [3]:
'Timi' == 'timi'

False

In [4]:
6 <= 9

True

In [5]:
'Monday' != 'Tuesday'

True

In [ ]:
item1 = '1234'
item2 = 1234

item1 == item2

### Conditional Statements

#### If Statements
`if condition:`<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`statement_to_execute`

In [24]:
col='red'
if col=='red':
    print('Color is Red')
print('Problem Solved')

Color is Red
Problem Solved

In [3]:
num=-5
if num<=0:
    print('Number is Negative')

Number is Negative

#### Example 1: A compilation of items to be purchased have been compiled by a shopper together with the quantity. Add 6 pencils to the list if it hasn't been included and get the total items

In [10]:
shoppers_dictionary = { # dictionary
    'a4_papers': 10
    , 'markers': 6
    , 'pens': 12
}

In [11]:
# if pencils is not in shoppers list, add 6 pencils to the list 


if 'pencils' not in shoppers_dictionary:
    shoppers_dictionary['pencils'] = 6
    print(shoppers_dictionary)

{'a4_papers': 10, 'markers': 6, 'pens': 12, 'pencils': 6}

In [ ]:
# get total items

total = shoppers_dictionary['a4_papers']  + shoppers_dictionary['markers'] + shoppers_dictionary['pens']

##### Quiz 1: Verify the total score of the student (given below) is correct. If it is not, replace the value of the total score with the correct value

In [6]:
student = {
    'name': 'Quadri'
    , 'age': 22
    , 'subject1': 24
    , 'subject2': 20
    , 'subject3': 19
    , 'total_score': 0
}

In [7]:
totals = student['subject1'] + student['subject2'] + student['subject3']

In [8]:
if totals !=  student['total_score']: # comparison
    print('it is not correct') # tell us something
    student['total_score'] = totals # do the replacement

it is not correct

In [9]:
student

{'name': 'Quadri',
 'age': 22,
 'subject1': 24,
 'subject2': 20,
 'subject3': 19,
 'total_score': 63}

#### If and else statements
`if condition:`<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`do_this`<br>
`else:`<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`do_that`

In [5]:
if num>=0:
    print('Number is Positive')
else:
    print('Number is Negative')

Number is Negative

In [6]:
age=15
if age>=18:
    print('Adult')
else:
    print('Juvenile')

Juvenile

In [8]:
if col=='green':
    print('Color is green')
else:
    print('Color is red')
print('Color issues resolved')

Color is red
Color issues resolved

In [ ]:
country = 'Nigeria'

if country == 'Ghana':
    print('Capital is Accra')
else:
    print("I don't know")

#### Example 2: Given the details below of an employee, write a conditional statement to:
    - check if the full name is properly given (not an empty string)
    - if the check passes, add 1500 to their salary, otherwise subtract 300 from their salary

In [12]:
employee = {
    'fullname': ''
    , 'salary': 3000
    , 'job_title': 'Data Engineer'
}

In [13]:
employee['fullname'] != ''

False

In [14]:
if employee['fullname'] != '':  # false
    total = employee['salary'] + 1500
    print(total)
else:
    total = employee['salary'] - 300
    print(total)

2700

In [15]:
employee2 = {
    'fullname': 'Grace Wilson'
    , 'salary': 3000
    , 'job_title': 'Data Engineer'
}

In [16]:
if employee2['fullname'] != '':  # true
    total = employee2['salary'] + 1500
    print(total)
else:
    total = employee2['salary'] - 300
    print(total)

4500

#### If, elif and else statements
#### input statement

In [9]:
if col=='red':
    print('Color is Red')
elif col=='green':
    print('Color is Green')
else:
    print('Color is Blue')

Color is Red

In [11]:
number=10
if number>20:
    print('This is mine')
elif number>=10:
    print('That is Yours')
else:
    print('Integer')

That is Yours

In [22]:
myname = input("Input my first name here: ")
myname

Input my first name here: Joshua

'Joshua'

In [28]:
num = input("Enter a number")
num

Enter a number35

'35'

In [29]:
type(num)

str

In [24]:
# Mark of a student in Exam is taking as input. Based on this mark grade is decided by using if , elif and else.

# More than or equal to 80 is A grade
# More than or equal to 60 is B grade
# More than or equal to 40 is C grade
# Less than 40 mark is Fail

In [27]:
score=int(input("Enter your mark "))
if(score>=80):
    print("You got A grade")
elif(score>=60):
    print("You got B grade")
elif(score>=40):
    print("You got C grade")
else:
    print("You Failed ")

Enter your mark 25
You Failed

In [15]:
x=40
if x>10:
    print('Above 10')
    if x>20:
        print('Above 20')
    else:
        print('Not Above')

Above 10
Above 20

In [14]:
#Nested If
var=100
if var<200:
    print('Value is less than 200')
    if var==150:
        print('Value is 150')
    elif var==100:
        print('Value is 100')
else:
    print('Value not found')
print('Good Bye')

Value is less than 200
Value is 100
Good Bye

## Logical Operators
### and, or, not

### Evaluating Complex assertions using Logical Operators
- True and False returns False
- True or False returns True

### The Truth Table

##### and
- True and True = True
- True and False = False
- False and True = False
- False and False = False

##### or
- True or True = True
- True or False = True
- False or True = True
- False or False = False

In [17]:
a,b,c=10,12,-10
a

10

In [18]:
if a>0 and b>0:
    print('Greater than Zero')

Greater than Zero

In [19]:
if a<0 and b>0:
    print('numbers')
else:
    print('No numbers')

No numbers

In [20]:
if a<0 or b>0:
    print('Numbers')
else:
    print('No numbers')

Numbers

In [21]:
if a > 0 and b > 0 and c > 0: 
    print("The numbers are greater than 0") 
else: 
    print("Atleast one number is not greater than 0")

Atleast one number is not greater than 0

In [22]:
e,f,g=10,-10,0
if e > 0 or f > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0")

Either of the number is greater than 0

In [23]:
if f > 0 or g > 0: 
    print("Either of the number is greater than 0") 
else: 
    print("No number is greater than 0")

No number is greater than 0

In [17]:
# who can vote?
citizen = 'Nigerian'
age = 18

# you have to be Nigerian and above 18 years of age
if (citizen == 'Nigerian') and (age >= 18): # true and false == false
    print('you can vote')
else:
    print('you cannot vote')

you can vote

In [18]:
# Quiz 1

# Quiz 1: The firstname, lastname, and testscore of three students have been provided each in a list respectivelty. 
# A student is only qualified to take exams if:
#     1. they have provided appropraite names (not empty strings), and
#     2. have scored above 25 in their test.
# Your task: Write a conditional statement to confirm these checks.

student1 = ['', 'Paul', 28]
student2 = ['Rachael', 'Kenneth', 24]
student3 = ['Lukman', 'Quadri', 25]

In [ ]:
# Provide your solution below this line
# ------------------------------------------------------

# student 1
if ((student1[0] != '') and (student1[1] != '')) and (student1[2] > 25):
    print('student1 can take the exams')
else:
    print('student1 can not take the exams')

# student 2
if ((student2[0] != '') and (student2[1] != '')) and (student2[2] > 25):
    print('student2 can take the exams')
else:
    print('student2 can not take the exams')

# student 3
if ((student3[0] != '') and (student3[1] != '')) and (student3[2] > 25):
    print('student3 can take the exams')
else:
    print('student3 can not take the exams')

In [20]:
# Quiz 2
# Quiz 2: A list of guests of an event has been provided by the organizer. Each dictionary within the list contains the name, age, and swim status of some attendees.
# An attendee is allowed to access the pool area only if
#     1. they are above 18, or
#     2. have experience swimming.
# Within the same list, add a new key value pair to indicate their eligibility

attendees = [
    {'name': 'Sekinat Kareem', 'age': 19, 'can_swim': False}
    , {'name': 'Isaac Abdul', 'age': 21, 'can_swim': True}
    , {'name': 'Kate Lemon', 'age': 17, 'can_swim': False}
]

In [21]:
# assign each person to a vriable for easy access
sekinat = attendees[0]
isaac = attendees[1]
kate = attendees[2]

### Loops

Loops in Python are used to traverse sequential data types (e.g. lists, strings)

##### For Loop Syntax
`for _element_ in _iterable_:`<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;`do_something`


#### Loops-Iterating through a sequence(The range function)

In [28]:
print(list(range(6)))

[0, 1, 2, 3, 4, 5]

In [29]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

In [30]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [32]:
#Indentation-its used to group statements
for x in range(5):
    print (x)

0
1
2
3
4

In [33]:
for i in range(1,10,2):
    product=5*i
    print(product)

5
15
25
35
45

In [35]:
genre=['pop','rock','jazz','highlife','makossa']
for music in genre:
    print (music)

pop
rock
jazz
highlife
makossa

In [36]:
for b in range(len(genre)):
    print(b)

0
1
2
3
4

In [37]:
for a in range(len(genre)):
    print('I love', genre[a])

I love pop
I love rock
I love jazz
I love highlife
I love makossa

In [44]:
digits=[1,2,3,4,5]
for i in digits:
    print (i)
else:
    print('No Digit Left')

1
2
3
4
5
No Digit Left

In [40]:
cubes=[]
for c in range(0,10,2):
    cubes.append(c**3)
print(cubes)

[0, 8, 64, 216, 512]

#### List Comprehension
- newlist = [`expression` `for loop` `if condition`]

In [37]:
squares = []
for i in range(0,10,2):
    squares.append(i * i)
squares

[0, 4, 16, 36, 64]

In [38]:
square = [x**2 for x in range(0,10,2)]
square

[0, 4, 16, 36, 64]

In [39]:
sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
vowels

['e', 'o', 'e', 'a', 'e', 'a', 'o', 'a']

#### While Loop
-This continually execute program as long as the condition remain true.

In [3]:

count=0
while (count < 5):
    print(count)
    count=count+1
print('Thank You')

0
1
2
3
4
Thank You

In [4]:
count = 0
while (count < 9):
   print('The count is:', count)
   count = (count + 1)

print ("Good bye!")

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4
The count is: 5
The count is: 6
The count is: 7
The count is: 8
Good bye!

In [30]:
# Print a right angle triangle using asterix
rows = 7
current_row = 1
while current_row <= rows:
    print("*" * current_row)
    current_row += 1

*
**
***
****
*****
******
*******

In [ ]:
# Use the while loop to get the factorial of a number
number = 5
factorial = 1
while number > 0:
    factorial *= number
    number -= 1
print("Factorial:", factorial)

In [12]:
#Break & Continue Statements are used to terminate expressions without checking test expression
number1=[10,20,30,40,50,60]
for x in number1:
    if x==50:
        break
    print(x)
print('The End')

10
20
30
40
The End

In [14]:
for letter in 'python':
    if letter=='h':
        break
    print('This is Letter', letter)

This is Letter p
This is Letter y
This is Letter t

In [16]:
varchar=[1,2,3,4,5,6,7,8,9]
for num in varchar:
    if num==5:
        break
    print('The Number is', num)

The Number is 1
The Number is 2
The Number is 3
The Number is 4

In [17]:
#Continue statement is used to skip the condition and continues with the other iteration
for letter in 'python':
    if letter=='h':
        continue
    print('This is Letter', letter)

This is Letter p
This is Letter y
This is Letter t
This is Letter o
This is Letter n

In [18]:
number1=[10,20,30,40,50,60]
for x in number1:
    if x==50:
        continue
    print(x)
print('The End')

10
20
30
40
60
The End

In [21]:
#Pass statement is used as a placeholder
for l in 'program':
    if l=='g':
        pass
        print('This is a Block')
    print(l)
print("Thank You Sir")

p
r
o
This is a Block
g
r
a
m
Thank You Sir

### Functions
- A function is a block of code which only runs when it is called.
- You can pass data, known as parameters, into a function.
- A function can return data as a result.

In [24]:

def greet(name):
    """This function greets the person passed as parameter"""
    print('Hello '+name+'. Good Morning')
    
greet('Paul')

Hello Paul. Good Morning

In [25]:
print(greet('Lizzy'))

Hello Lizzy. Good Morning
None

In [28]:
def change(number):
    print('This is the '+number+ 'th'+' Number')
change('5')

This is the 5th Number

#### Using the return statement-It ends the execution of the function and return the result

In [29]:

def add(x,y):
    """This returns x+y"""
    return(x+y)
add(10,20)

30

In [31]:
add(2000,4500)

6500

In [37]:
def num(x):
    if (x%2==0):
        return 'even'
    else:
        return 'odd'
    
print(num(4))
print(num(5))

even
odd

In [36]:
def num(x):
    if (x%2==0):
        print ('even')
    else:
        print ('odd')
num(2)
num(3)

even
odd

In [38]:
def abs_val(num):
    """This fuction returns the absolute of the entered number"""
    if num>=0:
        return num
    else:
        return -num
    
print(abs_val(-5))
print(abs_val(3))

5
3

### Lambda Functions
- A lambda function is a small anonymous function.
- A lambda function can take any number of arguments, but can only have one expression.
- `lambda arguments` : `expression`

In [4]:
product=lambda x,y:x*y
print(product(3,4))

12

In [6]:
add=lambda a,b:a+b
total=add(10,20)
total

30

In [1]:
rem=lambda num:num%2
print(rem(5))

1

In [5]:
#The above lambda function can be written in normal function as 
def rem(num):
    return num%2
print(rem(5))

1

In [8]:
#Sorting a list of tuples using Lambda functions
exp=[('the',34),('at',23),('should',5),('from',3)]

exp.sort() #This Sorts the list based on the first parameter of the tuple
exp

[('at', 23), ('from', 3), ('should', 5), ('the', 34)]

In [9]:
#Sort based on the second parameter using lambda
exp.sort(key=lambda x:x[1])
exp

[('from', 3), ('should', 5), ('at', 23), ('the', 34)]

In [12]:
#Sorting a list of strings using Lambda functions
list_str=['hi','this','is','sample','string','program']
list_str.sort() #This sorts it alphabetically
list_str

['hi', 'is', 'program', 'sample', 'string', 'this']

In [13]:
#Sorting based on lenght of string
list_str.sort(key=lambda x:len(x))
list_str

['hi', 'is', 'this', 'sample', 'string', 'program']