 ## Introduction to Programming

A Programming Language is a means by which communication is achieved between humans and computers or computing devices.<br>
It contains rules and syntaxes, like every other types of languages, that allow humand to write apps or software that will eventually be executed by computers.
<br><br>
As there are different human languages that you can leaarn, there are also different programming languages.<br>
This class focuses on the Python Programming Language.
<hr>

Python
Python is a type of general purpose language.
It's simple to write, easy to read, and one of the most sought-for in the Data World.
Python is open-source. Any one can pick it up, work on it, and make use of it.
It is multi-paradigm - it can be used as an Objected-Oriented Language, Functional Language, Scripting Language, e.t.c.

### Speaking Python

To be able to speak the Python Language, You have to understand its basics which include:

- Variables
- Data Types (Integers, Floats, Strings, Booleans)
- Data Structures (Lists, Tuples, Dictionaries, Sets)
- Conditions (If, Else, Elif)
- Control Structures and Functions (Loops, Conditions)

In [6]:
print("Hello World!!!")

Hello World!!!

In [9]:
print("My Name is Jaykay and I am Data Engineer")

My Name is Jaykay and I am Data Engineer

###  Variables
A variable is like a container where you house or keep an object

In [24]:
print('Good afternoon guys, Happy Sunday')

Good afternoon guys, Happy Sunday

In [10]:
greet = 'Good afternoon guys, Happy Sunday'

In [11]:
print(greet)

Good afternoon guys, Happy Sunday

In [12]:
A = 'Hello World !!!'

In [13]:
print(A)

Hello World !!!

In [25]:
A = "This is Data ENGINEERING"

In [26]:
A

'This is Data ENGINEERING'

In [15]:
greet

'Good afternoon guys, Happy Sunday'

In [17]:
school = "10Anlytics"
cohort = 13

In [18]:
school
cohort

13

In [19]:
print(school)
print(cohort)

10Anlytics
13

## Data Types

- Data Types (Integers, Floats, Strings, Booleans)

In [28]:
# Integer data types are Numeric Whole numbers
# 5, 20, 50, 1000, 1000000

In [29]:
# Float data type is a numeric number that has decimals
# 5.6, 10.0, 3.1

In [30]:
# Strings
# A String can be any character

In [31]:
st = "ABCD"
st1 = '10'

In [32]:
type(st)

str

In [33]:
type(st1)

str

In [34]:
st2 = 50
type(st2)

int

In [35]:
st3 = 75.6
type(st3)

float

In [36]:
True

True

In [37]:
False

False

#### Integers

In [46]:
2 + 3

5

In [47]:
a = 2
b = 3

In [48]:
a + b

5

In [49]:
a * b

6

In [50]:
c = 10

In [51]:
c / a

5.0

In [52]:
# If we multiply, add, subtract an integer from a float or vice versa, we get a float

In [53]:
d = 5.0

In [54]:
a * d

10.0

In [57]:
# Modulus %
# The Modulus operator performs a division and returns the remainder
num1 = 15
num2 = 20
num3 = 2
num4 = 3

In [56]:
num1 % num3

1

In [58]:
num2 % num4

2

In [60]:
# Research on the floor Operator //

In [61]:
# Python Mathematical Operators follows the DMAS
# BODMAS
# PEMDAS

result = 3+4/2*5
result

13.0

In [62]:
# Power Operator
10 ** 3

1000

## String

In [64]:
name = "Joshua"
job  = "Data Engineer"

In [65]:
name * 3

'JoshuaJoshuaJoshua'

In [67]:
num = 'abc'
num * 10

'abcabcabcabcabcabcabcabcabcabc'

In [69]:
# String Formating

print("My name is %s" %name)

My name is Joshua

In [70]:
topic = "Python Fundamentals"

print("%s is the topic we are taking now" %topic)

Python Fundamentals is the topic we are taking now

In [71]:
# .format

name = "Joshua"
job  = "Data Engineer"

print("My name is {} and i am a {}".format(name, job))

My name is Joshua and i am a Data Engineer

In [74]:
print("My name is {} and i am a {}".format(name, job))

My name is Joshua and i am a Data Engineer

In [77]:
school = "10Anlytics"
course = "Python"
cohort = 13

print(" I am currently learning {1} in {0} and my cohort is {2}".format(school, course, cohort))

 I am currently learning Python in 10Anlytics and my cohort is 13

In [78]:
print(f"I am currently learning {course} in {school} and my cohort is {cohort}")

I am currently learning Python in 10Anlytics and my cohort is 13

### String Methods

- Methods are functions that can be performed on an object. 
- String methods are functions to be performed specifically on strings.

In [84]:
name = "Joshua"
job  = "data engineer"

In [82]:
# Upper

name.upper()

'JOSHUA'

In [83]:
# Lower

name.lower()

'joshua'

In [85]:
job.capitalize()

'Data engineer'

In [86]:
len(job)

13

In [87]:
# index

job.index("d")

0

In [88]:
job.index("t")

2

In [89]:
job.index("g")

7

In [90]:
job.index("e")

5

## Indexing and Slicing a String

In [91]:
str1 = "Amalgamation"
str2 = "Trypanosomiasis"

In [92]:
str2[2]

'y'

In [93]:
str2[5]

'n'

In [94]:
str2[0]

'T'

In [95]:
str2[-1]

's'

In [96]:
str1[-2]

'o'

In [99]:
# Slicing

str2 = "Trypanosomiasis"

str2[3:8]

'panos'

In [100]:
str2[0:3]

'Try'

In [101]:
str2[:3]

'Try'

In [102]:
str2[5:]

'nosomiasis'

In [103]:
## Assignment
# Practice negative Slicing

## String Operations

In [105]:
a = "Today is sunday"
b = "And i was home having a restful weekend"

print(a +" " + b)

Today is sunday And i was home having a restful weekend

In [106]:
print(a,b)

Today is sunday And i was home having a restful weekend

In [108]:
name = "Joshua Kolawole-Jaykay"
name.split(" ")

['Joshua', 'Kolawole-Jaykay']

In [111]:
name1 = "Joshua-Kolawole-Jaykay"
name1.split("-")

['Joshua', 'Kolawole', 'Jaykay']

In [114]:
# Assignment
# If you have multiple strings
# How do you combine together using string method

In [115]:
# Research on how to split different delimiters in a single string using string methods